doctype hmtl
html(lang='ko')
  head
    title= "Shake-Your-Head 착시 생성기"
    link(rel="stylesheet", type="text/css", href="/style")
  body
    h1 Shake-Your-Head 착시 생성기
    section
      div
        if msg==1
          피카피카 시간 삐카피카피카 초과 (60피카)<br>
          삐까, 피카피카 한 번 피카피카 다운로드 피카<br>
        if msg==2
          피카 < 2000 * 2000 pixel 피카삐까..<br>
        a(href='/')
          b < 피카
    footer choijiwon 1890mah@gmail.com
