doctype hmtl
html(lang='ko')
  head
    title= "Shake-Your-Head Illusion Generator"
    link(rel="stylesheet", type="text/css", href="/style")
  body
    h1 Shake-Your-Head Illusion Generator
    section
      div
        if msg==1
          Pikapika Time 삐카피카피카 Limit (60 sec)<br>
          Peeka, pikapika Once pikapika Download pika<br>
        if msg==2
          Pika < 2000 * 2000 pixel pikapika..<br>
        a(href='/')
          b < Pika
    footer choijiwon 1890mah@gmail.com
