doctype hmtl
html(lang='ko')
  head
    title= "Shake-Your-Head 착시 생성기"
    link(rel="stylesheet", type="text/css", href="/style")
  body
    h1 Shake-Your-Head 착시 생성기
    section
      div
        p
          b
            a(href="http://youtu.be/8wo8DEeniFY", target="_blank") 피카츄..
        삐까삐까삐까삐까삐까삐까삐까삐까삐까삐까삐까?<br>
        삐까쮸 피카피카, 피카피 삐까 피카피카피카.
        피카피카피 피카삐카비.. 피카.<br>
        피카피카삐까삐까삐까피카츄.<br>
        피카, 피카피카삐카피카 ▶︎ 삐까삐가삐카피카 삐까츄<br>
        img(src='pika')
        span 　
        img(src='pika2')
        span#pika [피카피카]
      div
        p
          b 피카피카 : 삐까피카피카피카
        피카피카 < 2000X2000 피카<br>

        form(action="/upload", method="post" enctype="multipart/form-data")
          input(type="file", name="uploadFile")
          input(type="submit", name="Upload")
    footer choijiwon 1890mah@gmail.com
