doctype hmtl
html(lang='en')
  head
    title= "Shake-Your-Head Illusion Generator"
    link(rel="stylesheet", type="text/css", href="/style")
  body
    h1 Shake-Your-Head Illusion Generator
    section
      div
        p
          b Pikachu..
        Pikapikaphickafikapikaficapica?<br>
        Pikachu Pikapika, Pikapi Fica Phikapika.
        Pikapika pikapikapi.. pika.<br>
        Pika FeekapikaPhikachu.<br>
        Pika, pikapikaficapika ▶︎ PikaPeeckapikapika Pikachu<br>
        img(src='pika')
        span 　
        img(src='pika2')
        span#pika [Pikapika]
      div
        p
          b Pikapika : Peekapikapikapika
        Pheecka < 2000X2000 pika<br>

        form(action="/upload", method="post" enctype="multipart/form-data")
          input(type="file", name="uploadFile")
          input(type="submit", name="Upload")
    footer choijiwon 1890mah@gmail.com
