doctype hmtl
html(lang='ko')
  head
    title= "Shake-Your-Head 착시 생성기"
    link(rel="stylesheet", type="text/css", href="/style")
  body
    div#fb-root
    script
      |(function(d, s, id) {
      |  var js, fjs = d.getElementsByTagName(s)[0];
      |  if (d.getElementById(id)) return;
      |  js = d.createElement(s); js.id = id;
      |  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&appId=440704582742194&version=v2.0";
      |  fjs.parentNode.insertBefore(js, fjs);
      |}(document, 'script', 'facebook-jssdk'));
    script
      |(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      |(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      |m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      |})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      |ga('create', 'UA-49954888-4', 'syh-gen.herokuapp.com');
      |ga('send', 'pageview');
    h1
      |Shake-Your-Head 착시 생성기
      div.fb-like(data-href="http://syh-gen.herokuapp.com", data-width="100", data-layout="button_count", data-action="like", data-show-faces="false", data-share="false")
    section
      div
        p
          b
            a(href="http://youtu.be/8wo8DEeniFY", target="_blank") 피카츄..
        삐까삐까삐까삐까삐까삐까삐까삐까삐까삐까삐까?<br>
        삐까쮸 피카피카, 피카피 삐까 피카피카피카.
        피카피카피 피카삐카비.. 피카.<br>
        피카피카삐까삐까삐까피카츄.<br>
        피카, 피카피카삐카피카 ▶︎ 삐까삐가삐카피카 삐까츄<br>
        img(src='pika')
        span 　
        img(src='pika2')
        span#pika [피카피카]
      div
        p
          b 피카피카 : 삐까피카피카피카
        피카피카 < 2000X2000 피카<br>

        form(action="/upload", method="post" enctype="multipart/form-data")
          input(type="file", name="uploadFile")
          input(type="submit", name="Upload")
    footer choijiwon 1890mah@gmail.com
