doctype hmtl
html(lang='ko')
  head
    title= "Shake-Your-Head 착시 생성기"
    link(rel="stylesheet", type="text/css", href="/style")
  body
    h1 Shake-Your-Head 착시 생성기
    section
      div
        삐카피카 피카피.<br>
        피카피카삐까피카피카.<br>
        img(src='image')#resultimg
        a(href='download') 피카피카.jpg <br><br>
        a(href='/')
          b < 피카
    footer choijiwon 1890mah@gmail.com
